<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <div th:fragment="side-menu">
        <aside id="sidebar-left" class="sidebar-left">
            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <!--                <div class="sidebar-toggle d-none d-md-block" data-toggle-class="   " data-target="html"-->
                <!--                     data-fire-event="sidebar-left-toggle">-->
                <!--                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>-->
                <!--                </div>-->
            </div>
            <div class="nano">
                <div class="nano-content" id="navContent">
                </div>

            </div>
        </aside>
    </div>
<script>

</script>
</html>
