<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <div th:fragment="side-menu">
        <aside id="sidebar-left" class="sidebar-left">
            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <div class="sidebar-toggle d-none d-md-block" data-toggle-class="   " data-target="html"
                     data-fire-event="sidebar-left-toggle">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">

                        <ul class="nav nav-main">
                            <li class="nav-parent">
                                <a href="#">
                                    <i class="fas fa-tasks " aria-hidden="true"></i>
                                    <span>Category Management</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryCreation#}">
                                            Category Creation
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryAuth}">
                                            Category Authorization
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryResubmit}">
                                            Category Resubmit
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="nav nav-main">
                            <li class="nav-parent">
                                <a href="#">
                                    <i class="fas fa-tasks " aria-hidden="true"></i>
                                    <span>Category Management</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryCreation#}">
                                            Category Creation
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryAuth}">
                                            Category Authorization
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryResubmit}">
                                            Category Resubmit
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="nav nav-main">
                            <li class="nav-parent">
                                <a href="#">
                                    <i class="fas fa-tasks " aria-hidden="true"></i>
                                    <span>Category Management</span>
                                </a>
                                <ul class="nav nav-children" style="">
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryCreation#}">
                                            Category Creation
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryAuth}">
                                            Category Authorization
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link fa fa-dot-circle-o" th:href="@{/ui/categoryResubmit}">
                                            Category Resubmit
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
        </aside>
    </div>
</html>