<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../static/assets/global/plugins/form-validation/form-validation.css"
      th:href="@{/assets/global/plugins/form-validation/form-validation.css}"/>
<script src="../../static/assets/global/plugins/form-validation/form-validation.js"
        th:src="@{/assets/global/plugins/form-validation/form-validation.js}"></script>


<form th:action="@{/documentManagement/updateresubmitcategory}" id="categoryResubmissionForm" th:object="${temp}"
      th:name="temp" method="POST">
    <div class="modal fade" id="modifyModal" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Category Resubmit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="tempId"
                               th:value="${temp.docCategoryTempId}"
                               th:field="${temp.docCategoryTempId}">

                        <input type="hidden" id="masterCategoryId"
                               th:field="${temp.parentDocCategoryTemp}" th:value="${temp.parentDocCategoryTemp}">

                        <div class="col-md-6 form-group">
                            <label class="material-label-fixed">Category Name * :</label>
                            <div class="form-material ">
                                <input class="form-control" type="text" name="catName"
                                       th:field="${temp.docCategoryName}" th:value="${temp.docCategoryName}"
                                       id="catName">
                                <span class="material-line"></span>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="material-label-fixed">Sorting Order * :</label>
                            <div class="form-material ">
                                <input class="form-control" type="text" name="sortingOrder"
                                       th:field="${temp.sortingOrder}" th:value="${temp.sortingOrder}"
                                       id="sortingOrder">
                                <span class="material-line"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="material-label-fixed">Category Description * :</label>
                            <div class="form-material ">
                                <textarea class="form-control" rows="3"
                                          th:field="${temp.docCategoryDescription}"></textarea>
                                <span class="material-line"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="delBtn" onclick="deleteCategory()"
                            class="btn btn-primary btn-icon-hover fa fa-close flat-buttons floatRight CusFormBtn waves-effect waves-button"
                            data-dismiss="modal">
                        <span>Close</span></button>

                    <button type="submit" id="modifyBtn"
                            class="btn btn-primary btn-icon-hover fa fa-save flat-buttons floatRight CusFormBtn waves-effect waves-button">
                        <span>Submit</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>

<script th:inline="javascript">
    $(document).ready(function () {

        /*<![CDATA[*/
        var chanelId = $("#chanel").val();
        var isOptionModify = [[${isOptionModify}]];
        var isOptionDelete = [[${isOptionDelete}]];
        if (!isOptionModify) {
            $('#modBtn').attr("disabled", "disabled");
        }
        if (!isOptionDelete) {
            $('#delBtn').attr("disabled", "disabled");
        }
        /*]]>*/

    });
</script>
<script th:inline="javascript">
    $(function () {
        var faIcon = {
            valid: 'fa fa-check-circle fa-lg text-success',
            invalid: 'fa fa-times-circle fa-lg',
            validating: 'fa fa-refresh'
        };

        $('#categoryResubmissionForm').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                docCategoryName: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* The category name must be less than 255 characters'
                        }
                    }
                },
                sortingOrder: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        integer: {
                            message: '* The value is not an integer'
                        },
                        stringLength: {
                            max: 255,
                            message: '* The category name must be less than 255 characters'
                        }
                    }
                },
                docCategoryDescription: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* The category name must be less than 255 characters'
                        }
                    }
                }
            }
        });
    });

</script>


</html>