<!doctype html>
<html class="fixed       sidebar-left-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/vendor/sweet-alert/sweetalert2.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/airpicker/dist/css/datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropify-master/dist/css/dropify.min.css}"/>
    <meta name="context-path" th:content="@{/}"/>

    <!-- start: header -->
    <!--/*/ <th:block th:include="/fragments/header/resources :: resources"></th:block> /*/-->
    <!-- end: header -->

</head>
<body class="loading-overlay-showing" data-loading-overlay id="loginBody">
<div class="loading-overlay">
    <div class="bounce-loader">
        <h3 class="loadHeading mb-5">L O A D I N G</h3>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<section class="body">
    <!-- start: header -->
    <header class="header">
        <!--start: top-nav-->
        <!--/*/ <th:block th:include="/fragments/header/top-nav :: top-nav"></th:block> /*/-->
        <!--end: top-nav-->
    </header>
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <!--/*/ <th:block th:include="/fragments/menu/side-menu :: side-menu"></th:block> /*/-->
        <!-- end: sidebar -->
        <section class="content-body pb-0" role="main">
            <header class="page-header ">
                <h2 class="">Update Current Agreement</h2>
                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs ">
                        <!--<li>-->
                        <!--<a href="index.html">-->
                        <!--<i class="fas fa-home"></i>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ol>
                </div>
            </header>
            <!-- start: page -->
            <div class="row ">
                <div class="col-lg-12">
                    <section class="card">
                        <form class="form-horizontal"
                              enctype="multipart/form-data"
                              method="POST"
                              th:action="@{/mcg/updateDocument}"
                              th:id="documentUpdateForm"
                              th:name="documentUpdateForm" th:object="${mcgDocumentUpdateDto}">
                            <input readonly th:field="*{docId}" th:id="*{docId}"
                                   th:name="*{docId}" type='hidden'/>
                            <input readonly th:field="*{pageCount}"
                                   th:id="*{pageCount}"
                                   th:name="*{pageCount}"
                                   type='hidden'/>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="material-label-fixed">Agreement Name : </label>
                                        <div class="form-material ">
                                            <input class="form-control" readonly th:field="*{docName}"
                                                   th:id="*{docName}"
                                                   th:name="*{docName}"
                                                   type='text'/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="material-label-fAdd Agreementixed">Agreement
                                            Input Date : </label>
                                        <div class="form-material ">
                                            <input class="form-control" readonly th:field="*{uploadedDate}"
                                                   th:id="*{uploadedDate}"
                                                   th:name="*{uploadedDate}"
                                                   type='text'/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="material-label-fixed">Maximum
                                            skip days count <span
                                                    class="text-danger">*</span>:
                                        </label>
                                        <div class="form-material ">
                                            <input class="form-control" onkeypress="return isNumber(event)"
                                                   th:field="*{skipDateCount}"
                                                   th:id="*{skipDateCount}"
                                                   th:name="*{skipDateCount}"
                                                   type='text'/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="material-label-fixed">Include
                                            Signature From Page No :</label>
                                        <div class='input-group date'>
                                            <input class="form-control" onkeypress="return isNumber(event)"
                                                   th:field="*{startPage}"
                                                   th:id="*{startPage}"
                                                   th:name="*{startPage}"
                                                   type='text'/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="material-label-fixed">Footer
                                            Height <span
                                                    class="text-danger">*</span>:</label>
                                        <div class='input-group date'>
                                            <input class="form-control" onkeypress="return isNumber(event)"
                                                   th:field="*{footerHeight}"
                                                   th:id="*{footerHeight}"
                                                   th:name="*{footerHeight}"
                                                   type='text'>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 text-right">
                                        <button class="btn btn-primary"
                                                id="submitbtn"
                                                type="submit">
                                            <span><i class="fas fa-save"></i> Update</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </section>
    </div>

    <div id="modifyDiv">

    </div>
    <!-- end: page -->
</section>

<!--start: footer-->
<!--/*/ <th:block th:include="/fragments/footer/footer :: footer"></th:block> /*/-->
<!--end: footer-->
<script th:src="@{/vendor/select2/js/select2.js}" type="text/javascript"></script>
<script th:src="@{/vendor/datatables/media/js/dataTables.bootstrap4.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/sweet-alert/sweetalert2.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/airpicker/dist/js/datepicker.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/airpicker/dist/js/i18n/datepicker.en.js}" type="text/javascript"></script>
<script th:src="@{/js/loadingoverlay.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/dropify-master/dist/js/dropify.min.js}" type="text/javascript"></script>
<!--<script th:src="@{/js/rejectdocresubmit.js}"></script>-->
<script>
    var CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    CONTEXT_PATH = CONTEXT_PATH.substr(0, CONTEXT_PATH.length - 1);
</script>

<script th:inline="javascript">
    $(document).ready(function () {

        /*<![CDATA[*/
        var message = [[${msg}]];
        var isSucsess = [[${isSucsess}]];
        if (isSucsess) {
            swal({
                title: 'Success',
                text: message,
                type: 'success',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                location.replace(CONTEXT_PATH + '/ui/mcgDocUpdate');
            });
        } else if (isSucsess == false) {
            swal({
                title: 'Error',
                text: message,
                type: 'error',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                location.replace(CONTEXT_PATH + '/ui/mcgDocUpdate');

            });
        }


    });
    /*]]>*/
</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
    }

    // $('#documentUpdateForm').formValidation({
    //     framework: 'bootstrap',
    //     excluded: ':disabled',
    //     icon: {
    //         valid: 'glyphicon glyphicon-ok',
    //         invalid: 'glyphicon glyphicon-remove',
    //         validating: 'glyphicon glyphicon-refresh'
    //     },
    //     fields: {
    //         footerHeight: {
    //             validators: {
    //                 notEmpty: {
    //                     message: 'This field is required and cannot be empty.'
    //                 },
    //                 integer: {
    //                     message: 'Decimal value not allowed.',
    //                     thousandsSeparator: '',
    //                     decimalSeparator: '.'
    //                 },
    //                 between: {
    //                     min: 8,
    //                     max: 26,
    //                     message: 'The number must be between 8 and 26'
    //                 }
    //             }
    //         },
    //         startPage: {
    //             validators: {
    //                 integer: {
    //                     message: 'Decimal value not allowed.',
    //                     thousandsSeparator: '',
    //                     decimalSeparator: '.'
    //                 },
    //                 between: {
    //                     min: 1,
    //                     max: 'pageCount',
    //                     message: 'The number  must be between %s and %s'
    //                 }
    //             }
    //         },
    //         skipDateCount: {
    //             validators: {
    //                 notEmpty: {
    //                     message: 'This field is required and cannot be empty.'
    //                 },
    //                 integer: {
    //                     message: 'Decimal value not allowed.',
    //                     thousandsSeparator: '',
    //                     decimalSeparator: '.'
    //                 },
    //                 stringLength: {
    //                     message: 'Date Count content must be less than 3 digits.',
    //                     max: 3
    //                 }
    //             }
    //         }
    //     }
    // }).on('success.form.fv', function (e) {
    //     $('.loader-overlay').show();
    //
    // });

</script>
</body>
</html>