<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="fixed       sidebar-left-sm" lang="en">
<head>

    <link rel="stylesheet" th:href="@{/vendor/sweet-alert/sweetalert2.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/airpicker/dist/css/datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropify-master/dist/css/dropify.min.css}"/>

    <meta name="context-path" th:content="@{/}"/>

    <!-- start: header -->
    <!--/*/ <th:block th:include="/fragments/header/resources :: resources"></th:block> /*/-->
    <!-- end: header -->

</head>
<body class="loading-overlay-showing" data-loading-overlay id="loginBody">
<div class="loading-overlay">
    <div class="bounce-loader">
        <h3 class="loadHeading mb-5">L O A D I N G</h3>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<section class="body">
    <!-- start: header -->
    <header class="header">
        <!--start: top-nav-->
        <!--/*/ <th:block th:include="/fragments/header/top-nav :: top-nav"></th:block> /*/-->
        <!--end: top-nav-->
    </header>
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <!--/*/ <th:block th:include="/fragments/menu/side-menu :: side-menu"></th:block> /*/-->
        <!-- end: sidebar -->
        <section role="main" class="content-body pb-0">
            <header class="page-header ">
                <h2 class="">Document Creation</h2>
                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs ">
                        <!--<li>-->
                        <!--<a href="index.html">-->
                        <!--<i class="fas fa-home"></i>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ol>
                </div>
            </header>
            <!-- start: page -->
            <div class="row ">
                <div class="col-lg-12">
                    <section class="card">
                        <div class="card-body">
                            <!--<div class="row">-->
                                <!--<div class="col-md-12 text-right mb-md-3">-->
                                    <!--<button type="button" class="btn btn-primary btn-sm "-->
                                            <!--data-target="#addSubCatModal"-->
                                            <!--data-toggle="modal">-->
                                        <!--Add Sub Category-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="webixtablecontainerDocUpload"></div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </section>
    </div>

    <form th:action="@{/documentUploadController/save}"
          th:id="docUploadTempForm"
          th:object="${documentUploadDto}"
          th:name="docUploadTempForm" method="POST" enctype="multipart/form-data">

        <input type="hidden" id="catId" name="catId">
        <div class="modal fade" id="uploadDocModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">Upload Document</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Document Name</label>
                                        <input class="form-control" type="text" name="documentName"
                                               th:field="${documentUploadDto.documentName}"
                                        /></input>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Head Line</label>
                                        <input class="form-control" name="headLine" id="headLine"
                                               th:field="${documentUploadDto.headLine}"/></input>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Published Date</label>
                                        <div class="input-group"><span class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="fas fa-calendar-alt"></i></span>
                                                                                </span>
                                            <!--<input type="text" data-plugin-datepicker="" class="form-control"-->
                                                   <!--id="publishedDate" th:name="publishDate"-->
                                                   <!--th:id="publishDate"/></input>-->

                                            <input th:name="publishDate" id="publishedDate" type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Expiry Date</label>
                                        <div class="input-group">
                                              <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                              </span>
                                            <!--<input type="text" data-plugin-datepicker="" class="form-control"-->
                                                   <!--id="expiryDate" th:name="expireDate"-->
                                                   <!--th:id="expireDate"/></input>-->


                                            <input th:name="expireDate" id="expireDate" type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Document Description</label>
                                        <textarea id="documentDescription" class="form-control" rows="3" th:field="${documentUploadDto.documentDescription}"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Access User</label>
                                        <select class="form-control" id="accessUser" th:field="${documentUploadDto.documentDescription}">
                                            <option th:each="system : ${systemList}"
                                                    th:value="${{system}}"
                                                    th:text="${system.systemRoleName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Document Upload(PDF files only)</label>
                                        <input type="file" class="dropify" data-show-loader="true" th:field="${documentUploadDto.attachment}"
                                               data-plugin="dropify" id="fileUpload" data-height="200"
                                               data-allowed-file-extensions="pdf" accept=".pdf"/></input>
                                        <div class="row showerrordiv mt-2" style="display: none">
                                            <div class="col-md-12">
                                                <div class="alert alert-warning alert-icon-left" role="alert">
                                                    <div class="float-xs-left errormsg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-danger" data-dismiss="modal" type="button"><i
                                class="fas fa-close"></i> Delete
                        </button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>
                            Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>


</section>

<div id="modifyDiv">

</div>

<!--start: footer-->
<!--/*/ <th:block th:include="/fragments/footer/footer :: footer"></th:block> /*/-->
<!--end: footer-->
<script type="text/javascript" th:src="@{/vendor/select2/js/select2.js}"></script>
<script type="text/javascript" th:src="@{/vendor/datatables/media/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/sweet-alert/sweetalert2.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/i18n/datepicker.en.js}"></script>
<script type="text/javascript" th:src="@{/js/loadingoverlay.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/dropify-master/dist/js/dropify.min.js}"></script>
<script th:src="@{/js/catergoryDocUpload.js}"></script>

<!--<script src="../../static/js/categorycreationdatatable.js" th:src="@{/js/categorycreationdatatable.js}"></script>-->
<!---->
<script>
    var CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    CONTEXT_PATH = CONTEXT_PATH.substr(0, CONTEXT_PATH.length - 1);
</script>

<script th:inline="javascript">
    $('#publishedDate,#expireDate').datepicker({
        language: 'en',
        autoClose: true,
        dateFormat: 'dd-mm-yyyy'

    });
    $('#accessUser').select2({
        multiple: true

    });
    // $('#accessUser').select2({
    //     multiple: true
    //
    // });

    function saveCategory() {
        swal({
            text: 'Sub category created successfully',
            type: 'success'
        });
    }


    //    --------------------------------------------------------------------------------------


    function uploadDocument(id) {
        catId = id;
        var chl = $('#channel').val();
        $('#catId').val(id);
        $('#channel2').val(chl);

        $('#documentName').val('');
        $('#headLine').val('');
        $('#publishDate').val('');
        $('#expireDate').val('');
//        $('#docDescription').val('');
        $('#documentDescription').val('');
//        $('#attachment').val('');
//        $('#attachment').addClass("dropify-clear");
        $('#acessTypes').val('').trigger('chosen:updated');
        var drEvent = $('#attachment').dropify();
        // drEvent = drEvent.data('dropify');
        // drEvent.resetPreview();
        // drEvent.clearElement();
        $('#uploadDocModal').modal('show');

    }
    function modifyDocument(id) {
        catId = id;
        $.ajax({
            url: CONTEXT_PATH + "/documentUploadController/modifyDocument?id=" + id,
            type: 'GET',
            cache: false,
            dataType: 'html',
            success: function (result) {
                $('#modifyDiv').html(result);
                $('#resubmitViwerModal').modal('show');
                return false;
                location.replace(CONTEXT_PATH + '/ui/documentUpload')
            },
            error: function (result) {

            }

        });
    }
    function downloadAttachment(id) {
        var url = CONTEXT_PATH + '/documentUploadController/viewMSTDocumemt?docId=' + id;
        window.location.href = url;
    }

    function MasterDocumentDelete() {
        var masterId = $("#mstId").val();
        swal({
            title: 'Are you sure?',
            text: "Do you want to delete this Document!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete'
        }).then(function () {
            jQuery.ajax({
                url: CONTEXT_PATH + "/documentUploadController/delete_auth_doc?document_id=" + masterId,
                type: 'GET',
                success: function (data) {
                    if (data.isSucsess == 1) {
                        swal({
                            title: data.message,
                            type: 'success',
                            showConfirmButton: true,
                            allowOutsideClick: false,
                            closeOnClickOutside: false
                        }).then(function () {
                            location.replace(CONTEXT_PATH + '/ui/documentUpload')
                        });
                    } else {
                        swal({
                            title: data.message,
                            type: 'error',
                            showConfirmButton: true,
                            allowOutsideClick: false,
                            closeOnClickOutside: false
                        }).then(function () {
                            location.replace(CONTEXT_PATH + '/ui/documentUpload')
                        });
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });


    }
</script>
<script th:inline="javascript">
    $(document).ready(function () {

        /*<![CDATA[*/
        var message = [[${msg}]];
        var isSucsess = [[${isSucsess}]];


        if (isSucsess) {
            swal({
                title: "Success",
                text: message,
                type: 'success',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                location.replace(CONTEXT_PATH + '/ui/documentUpload');
            });
        } else if (isSucsess == false) {
            swal({
                title: "Error",
                text: message,
                type: 'error',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                location.replace(CONTEXT_PATH + '/ui/documentUpload');
            });
        }


    });
    /*]]>*/
</script>
</body>
</html>
