<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="fixed sidebar-left-sm" lang="en">
<head>

    <link rel="stylesheet" th:href="@{/vendor/sweet-alert/sweetalert2.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/airpicker/dist/css/datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropify-master/dist/css/dropify.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropzone/basic.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropzone/dropzone.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/form-validation/css/formValidation.min.css}">
    <meta name="context-path" th:content="@{/}"/>
    <!-- start: header -->
    <!--/*/ <th:block th:include="/fragments/header/resources :: resources"></th:block> /*/-->
    <!-- end: header -->


</head>
<body class="loading-overlay-showing" data-loading-overlay id="loginBody">
<div class="loading-overlay">
    <div class="bounce-loader">
        <h3 class="loadHeading mb-5">L O A D I N G</h3>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<section class="body">
    <!-- start: header -->
    <header class="header">
        <!--start: top-nav-->
        <!--/*/ <th:block th:include="/fragments/header/top-nav :: top-nav"></th:block> /*/-->
        <!--end: top-nav-->
    </header>
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <!--/*/ <th:block th:include="/fragments/menu/side-menu :: side-menu"></th:block> /*/-->
        <!-- end: sidebar -->
        <section role="main" class="content-body pb-0">
            <header class="page-header ">
                <h2 class="">Document search by keyword</h2>
                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs ">
                        <!--<li>-->
                        <!--<a href="index.html">-->
                        <!--<i class="fas fa-home"></i>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ol>
                </div>
            </header>
            <!-- start: page -->
            <div class="row ">
                <div class="col-lg-12">
                    <section class="card">
                        <form>
                            <div class="card-body">

                                <div class="row">
                                    <div class="input-group col-md-5 mb-3">
                                        <input class="form-control" id="keyword" placeholder="ENTER YOUR KEYWORD" type="text">
                                        <span class="input-group-btn ml-2">
                                               <button class="btn btn-primary btn-sm ml-2" onclick="searchKeyword()" type="button">
                                                   <i class="fas fa-search"></i>&nbsp;&nbsp;Search
                                               </button>
                                        </span>
                                    </div>
                                </div>


                                <!--<div class="input-group col-md-4">-->
                                <!--<input type="text" class="form-control" >-->
                                <!--<button class="btn btn-primary btn-sm " type="button" onclick="searchKeyword()">-->
                                <!--<i class="fas fa-search"></i>&nbsp;&nbsp;Search-->
                                <!--</button>-->
                                <!--</div>-->

                                <div class="form-group row" id="searchTableContent">

                                </div>
                            </div>
                        </form>

                    </section>
                </div>
            </div>
        </section>
    </div>

    <!-- end: page -->

</section>

<!--start: footer-->
<!--/*/ <th:block th:include="/fragments/footer/footer :: footer"></th:block> /*/-->
<!--end: footer-->
<script type="text/javascript" th:src="@{/vendor/select2/js/select2.js}"></script>
<script type="text/javascript" th:src="@{/vendor/datatables/media/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/sweet-alert/sweetalert2.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/i18n/datepicker.en.js}"></script>
<script type="text/javascript" th:src="@{/js/loadingoverlay.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/dropify-master/dist/js/dropify.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
<script>
    var CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    CONTEXT_PATH = CONTEXT_PATH.substr(0, CONTEXT_PATH.length - 1);
</script>


<script th:inline="javascript">
    function searchKeyword() {
        var key = $("#keyword").val();
        $.ajax({
            type: "GET",
            url: CONTEXT_PATH + "/lucene/searchKey?key=" + key,
            success: function (data) {
                $('#searchTableContent').html(data);
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
</body>
</html>
