<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="fixed sidebar-left-sm" lang="en">
<head>

    <link rel="stylesheet" th:href="@{/vendor/sweet-alert/sweetalert2.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/airpicker/dist/css/datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropify-master/dist/css/dropify.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropzone/basic.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropzone/dropzone.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/form-validation/css/formValidation.min.css}">
    <meta name="context-path" th:content="@{/}"/>
    <!-- start: header -->
    <!--/*/ <th:block th:include="/fragments/header/resources :: resources"></th:block> /*/-->
    <!-- end: header -->



</head>
<body class="loading-overlay-showing" data-loading-overlay id="loginBody">
<div class="loading-overlay">
    <div class="bounce-loader">
        <h3 class="loadHeading mb-5">L O A D I N G</h3>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<section class="body">
    <!-- start: header -->
    <header class="header">
        <!--start: top-nav-->
        <!--/*/ <th:block th:include="/fragments/header/top-nav :: top-nav"></th:block> /*/-->
        <!--end: top-nav-->
    </header>
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <!--/*/ <th:block th:include="/fragments/menu/side-menu :: side-menu"></th:block> /*/-->
        <!-- end: sidebar -->
        <section role="main" class="content-body pb-0">
            <header class="page-header ">
                <h2 class="">Add Agreement Type</h2>
                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs ">
                        <!--<li>-->
                        <!--<a href="index.html">-->
                        <!--<i class="fas fa-home"></i>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ol>
                </div>
            </header>
            <!-- start: page -->
            <div class="row ">
                <div class="col-lg-12">
                    <section class="card">
                        <form>
                            <div class="card-body">
                                <div class="form-group row text-right">
                                    <div class="col-lg-12">
                                        <button class="btn btn-primary btn-sm" data-toggle="modal" type="button"
                                                data-target="#addAgreementTypeModal"><i class="fas fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <table class="table table-bordered" id="addAgreementTable">
                                            <thead>
                                            <tr>
                                                <th>Agreement</th>
                                                <th>Input User</th>
                                                <th>Input Role</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody class="addAgreementTblBody">
                                            <tr th:each="category : *{mcgDocumentCategorys}">
                                                <td th:text="*{category.categoryName}">Category 1</td>
                                                <td th:text="*{category.categoryInputUser}">Dan Sena</td>
                                                <td th:text="*{category.categoryInputDateTime}">2019-01-05</td>
                                                <td class="text-center">
                                                    <a href="#" th:id="*{category.categoryId}"
                                                       th:name="*{category.categoryId}"
                                                       class="btn btn-primary btn-xs"
                                                       data-toggle="modal"
                                                       data-target="#updateAgreementTypeModal"
                                                       onclick="updateCategoryForm(this.id)"
                                                    >Update</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </section>
                </div>
            </div>
        </section>
    </div>

    <!-- end: page -->
    </div>
    <div class="modal fade" id="addAgreementTypeModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form th:action="@{/mcg/saveCategory}" th:object="${documentCategoryDto}"
                      th:name="documentCategoryDto" id="addNewCategoryForm"
                      method="POST">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">Add Agreement Type</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-form-label">Agreement Type</label>
                                        <input th:value="${documentCategoryDto.categoryName}"
                                               th:field="${documentCategoryDto.categoryName}"
                                               th:id="${documentCategoryDto.categoryName}"
                                               th:name="${documentCategoryDto.categoryName}" class="form-control"
                                               type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-outline-danger " data-dismiss="modal" onclick="closeModal()"
                                    type="button">
                                <i class="fas fa-times-circle"></i>
                                Close
                            </button>
                            <button class="btn btn-primary" name="action1" type="submit" value="Insert"><i
                                    class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateAgreementTypeModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    </div>
</section>

<!--start: footer-->
<!--/*/ <th:block th:include="/fragments/footer/footer :: footer"></th:block> /*/-->
<!--end: footer-->
<script type="text/javascript" th:src="@{/vendor/select2/js/select2.js}"></script>
<script type="text/javascript" th:src="@{/vendor/datatables/media/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/sweet-alert/sweetalert2.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/i18n/datepicker.en.js}"></script>
<script type="text/javascript" th:src="@{/js/loadingoverlay.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/dropify-master/dist/js/dropify.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>

<script th:inline="javascript">

    $('#addAgreementTable').DataTable({});

    var nospecial = /^[^*|\":<>[\]{}`\\()';@&$]+$/;

    $('#addNewCategoryForm').formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            categoryName: {
                validators: {
                    notEmpty: {
                        message: '* This field is required and cannot be empty.'
                    },
                    regexp: {
                        regexp: nospecial,
                        message: '* Special characters are not allowed.'
                    },
                    stringLength: {
                        message: '* Post content must be less than 100 characters',
                        max: 100
                    }
                }
            }
        }
    }).on('success.form.fv', function (e) {
        $('.loader-overlay').show();

    });

    $('#addcategtable').DataTable({
        "lengthMenu": [10, 50, 150, 500],
        "processing": true,
        "serverSide": false,
        "searching": true,
        "responsive": true,
    });

</script>

<script th:inline="javascript">
    function updateCategoryForm(id) {
        $.ajax({
            type: "GET",
            url: CONTEXT_PATH + "/mcg/viewUpdateCategory/" + id,
            success: function (data) {
                $('#updateAgreementTypeModal').html(data);
                $('#updateAgreementTypeModal').modal('show');
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }


    function closeModal() {
        location.replace(CONTEXT_PATH + '/ui/agreementCategory');
    }

    $(document).ready(function () {

        /*<![CDATA[*/
        var message = [[${msg}]];
        var isSucsess = [[${isSucsess}]];
        var action = [[${action}]];


        if (isSucsess) {
            swal({
                title: 'Success',
                text: message,
                type: 'success',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                location.replace(CONTEXT_PATH + '/ui/agreementCategory');
            });
        } else if (isSucsess == false) {
            swal({
                title: 'Error',
                text: message,
                type: 'error',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                if (action == "ADD") {
                    $("#addModal").modal('show');
                } else {
                    location.replace(CONTEXT_PATH + '/ui/agreementCategory');
                }

            });
        }


    });
    /*]]>*/
</script>
<script>
    var CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    CONTEXT_PATH = CONTEXT_PATH.substr(0, CONTEXT_PATH.length - 1);
</script>
</body>
</html>
