<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="fixed       sidebar-left-sm" lang="en">
<head>

    <link rel="stylesheet" th:href="@{/vendor/sweet-alert/sweetalert2.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/airpicker/dist/css/datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/dropify-master/dist/css/dropify.min.css}"/>

    <meta name="context-path" th:content="@{/}"/>

    <!-- start: header -->
    <!--/*/ <th:block th:include="/fragments/header/resources :: resources"></th:block> /*/-->
    <!-- end: header -->

</head>
<body id="loginBody">
<section class="body">
    <!-- start: header -->
    <header class="header">
        <!--start: top-nav-->
        <!--/*/ <th:block th:include="/fragments/header/top-nav :: top-nav"></th:block> /*/-->
        <!--end: top-nav-->
    </header>
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <!--/*/ <th:block th:include="/fragments/menu/side-menu :: side-menu"></th:block> /*/-->
        <!-- end: sidebar -->
        <section role="main" class="content-body pb-0">
            <header class="page-header ">
                <h2 class="">System Role List</h2>
                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs ">
                        <!--<li>-->
                        <!--<a href="index.html">-->
                        <!--<i class="fas fa-home"></i>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ol>
                </div>
            </header>
            <!-- start: page -->
            <div class="row ">
                <div class="col-lg-12">
                    <section class="card">
                        <form>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-right mb-md-3">
                                        <button class="btn btn-primary btn-sm " type="button"
                                                data-target="#addSubCatModal"
                                                data-toggle="modal">
                                            <i class="fas fa-user-plus"></i> Add New User
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="userRoleContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </section>
                </div>
            </div>
        </section>
    </div>

    <!-- end: page -->
    <div class="modal fade" id="addSubCatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLongTitle">Add New Role</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" style="opacity: 1 !important;" th:action="@{/user/save}" th:id="userDTO"
                          th:name="userDTO" th:object="${userDetailsDto}">
                        <div class="modal-body">
                            <input id="userEdit" th:field="${userDetailsDto.userEdit}" type="hidden">
                            <input id="id" th:field="${userDetailsDto.id}" type="hidden">
                            <!--                            <div class="row text-center">-->
                            <!--                                <div class="col-lg-12">-->
                            <!--                                    <img th:src="@{/img/user.png}" class="img-circle img-responsive" style="width: 15%">-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="form-group row mb-3">
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Username</label><span class="required">&nbsp;*</span>
                                        <input name="userName" th:field="${userDetailsDto.userName}" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Password</label><span class="required">&nbsp;*</span>
                                        <input th:field="${userDetailsDto.password}" type="password"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>First Name</label><span class="required">&nbsp;*</span>
                                        <input name="firstname" th:field="${userDetailsDto.firstName}" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input name="lastName" th:field="${userDetailsDto.lastName}" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Address 1</label><span class="required">&nbsp;*</span>
                                        <input name="addressLine1" th:field="${userDetailsDto.addressLine1}" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Address 2</label><span class="required">&nbsp;*</span>
                                        <input name="addressLine2" th:field="${userDetailsDto.addressLine2}" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Date of Birth</label><span class="required">&nbsp;*</span>
                                        <input name="dateOfBirth" th:field="${userDetailsDto.dateOfBirth}" id="dob" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Email</label><span class="required">&nbsp;*</span>
                                        <input name="email" th:field="${userDetailsDto.email}" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>NIC</label><span class="required">&nbsp;*</span>
                                        <input name="nic" th:field="${userDetailsDto.nic}" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>Mobile Number</label><span class="required">&nbsp;*</span>
                                        <input name="mobile" th:field="${userDetailsDto.mobile}" type="text"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label>User role id</label><span class="required">&nbsp;*</span>
                                        <select class="form-control" name="userRoleId"
                                                th:field="${userDetailsDto.systemRoleId}">
                                            <option th:each="systemRole : ${systemUserRoles}" th:value="${systemRole.systemRoleId}" th:text="${systemRole.systemRoleName}">Admin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-outline-danger " data-dismiss="modal" type="button"><i
                                    class="fas fa-times-circle"></i> Close
                            </button>
                            <button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i> Register
                            </button>
                        </div>
                    </form>
                </div>
        </div>
    </div>


    <div id="modifyDiv">

    </div>
</section>

<!--start: footer-->
<!--/*/ <th:block th:include="/fragments/footer/footer :: footer"></th:block> /*/-->
<!--end: footer-->
<script type="text/javascript" th:src="@{/vendor/select2/js/select2.js}"></script>
<script type="text/javascript" th:src="@{/vendor/datatables/media/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/sweet-alert/sweetalert2.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/airpicker/dist/js/i18n/datepicker.en.js}"></script>
<script type="text/javascript" th:src="@{/js/loadingoverlay.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/dropify-master/dist/js/dropify.min.js}"></script>
<script th:src="@{/js/userroledatatable.js}"></script>


<!--<script src="../../static/js/categorycreationdatatable.js" th:src="@{/js/categorycreationdatatable.js}"></script>-->

<script>
    var CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    CONTEXT_PATH = CONTEXT_PATH.substr(0, CONTEXT_PATH.length - 1);
</script>

<script th:inline="javascript">
    import {getDataToDataTable} from "../../../static/js/change_privileges";

    $('#publishedDate,#expiryDate').datepicker({
        language: 'en',
        autoClose: true,
        dateFormat: 'dd-mm-yyyy'

    });
    $('#accessUser').select2({
        multiple: true

    });

    function saveCategory() {
        swal({
            text: 'Sub category created successfully',
            type: 'success'
        });
    }


    //    --------------------------------------------------------------------------------------


</script>
<script th:inline="javascript">
    $(document).ready(function () {

        /*<![CDATA[*/
        var message = [[${msg}]];
        var isSucsess = [[${isSucsess}]];


        if (isSucsess) {
            swal({
                title: "Success",
                text: message,
                type: 'success',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                location.replace(CONTEXT_PATH + '/user/register');

            });
        } else if (isSucsess == false) {
            swal({
                title: "Error",
                text: message,
                type: 'error',
                showConfirmButton: true,
                allowOutsideClick: false,
                closeOnClickOutside: false
            }).then(function () {
                location.replace(CONTEXT_PATH + '/user/register');
            });
        }


    });
    /*]]>*/
</script>
<script th:inline="javascript">
    $(function () {
        var faIcon = {
            valid: 'fa fa-check-circle fa-lg text-success',
            invalid: 'fa fa-times-circle fa-lg',
            validating: 'fa fa-refresh'
        };

        $('#userForm').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                userName: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                firstName: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                lastName: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                addressLine1: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                addressLine2: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9., \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                dateOfBirth: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^\d{4}-((0\d)|(1[012]))-(([012]\d)|3[01])$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                email: {
                    validators: {
                        emailAddress: {
                            message: '* The value is not a valid email address'
                        }
                    }
                },
                nic: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^(([0-9]{9}[vVxX])|([0-9]{12}))$/i,
                            message: '* Invalid nic number.'
                        },
                        stringLength: {
                            max: 255,
                            message: '* This field must be less than 255 characters'
                        }
                    }
                },
                mobile: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[0-9\s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 10,
                            message: '* This field must be less than 10 characters'
                        }
                    }
                },

            }
        });
    });

</script>
</body>
</html>
