<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<form th:action="@{/documentUploadController/save}"
      th:id="docUploadTempForm"
      th:object="${documentUploadDto}"
      th:name="docUploadTempForm" method="POST" enctype="multipart/form-data">

    <input type="hidden" th:field="${documentUploadDto.documentUploadTempId}" id="tempDocId">
    <input type="hidden" th:value="${documentUploadDto.docCategoryMasterId}" id="catId" name="catId">
    <input type="hidden" th:value="${documentUploadDto.docCategoryMasterId}" id="mstId" >
    <div class="modal fade" id="resubmitViwerModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="">Document Authorization </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Document Name</label>
                                    <input class="form-control" type="text" name="documentName"
                                           th:field="${documentUploadDto.documentName}"
                                    /></input>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Head Line</label>
                                    <input class="form-control" name="headLine" id="headLine"
                                           th:field="${documentUploadDto.headLine}"/></input>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Published Date</label>
                                    <div class="input-group"><span class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="fas fa-calendar-alt"></i></span>
                                                                                </span>
                                        <input type="text" data-plugin-datepicker="" class="form-control"
                                               id="publishedDate" th:name="publishDate" th:field="${documentUploadDto.publishDate}"
                                               th:id="publishDate"/></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Expiry Date</label>
                                    <div class="input-group">
                                              <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                              </span>
                                        <input type="text" data-plugin-datepicker="" class="form-control"
                                               id="expiryDate" th:name="expireDate" th:field="${documentUploadDto.expireDate}"
                                               th:id="expireDate"/></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Document Description</label>
                                    <textarea id="documentDescription" class="form-control" rows="3" th:field="${documentUploadDto.documentDescription}"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Access User</label>
                                    <select class="form-control" id="accessUser" th:field="${documentUploadDto.documentDescription}">
                                        <option th:each="system : ${systemList}"
                                                th:value="${{system}}"
                                                th:text="${system.systemRoleName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Document Upload(PDF files only)</label>
                                    <input type="file" class="dropify" data-show-loader="true" th:field="${documentUploadDto.attachment}"
                                           data-plugin="dropify" id="fileUpload" data-height="200"
                                           data-allowed-file-extensions="pdf" accept=".pdf"/></input>
                                    <div class="row showerrordiv mt-2" style="display: none">
                                        <div class="col-md-12">
                                            <div class="alert alert-warning alert-icon-left" role="alert">
                                                <div class="float-xs-left errormsg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="material-label-fixed"></label>
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" id="attachmentbtn"
                                                th:onclick="'javascript:downloadAttachment(\'' + ${documentUploadDto.documentUploadTempId}+'\');'">
                                            <i class="fa fa-download"></i></button>
                                    </li>
                                    <li>
                                        <span class="time">Download Attachment</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12  pull-right">
                        <button type="button" onclick=""
                                class="btn btn-primary btn-icon-hover fa fa-close flat-buttons floatRight CusFormBtn waves-effect waves-button"
                                data-dismiss="modal">
                            <span>Close</span></button>

                        <button type="submit" value="Insert"
                                class="btn btn-primary btn-icon-hover fa fa-save flat-buttons floatRight CusFormBtn waves-effect waves-button">
                            <span>Update</span>
                        </button>

                        <button id="delBtn" type="button" value="Insert" onclick="MasterDocumentDelete()"
                                class="btn btn-primary btn-icon-hover fa fa-pencil flat-buttons floatRight CusFormBtn waves-effect waves-button">
                            <span>Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

   /* $('.chosen-toggle').each(function (index) {
        console.log(index);
        $(this).on('click', function () {
            console.log($(this).parent().find('option').text());
            $(this).parent().find('option').prop('selected', $(this).hasClass('select')).parent().trigger('chosen:updated');
        });
    });

    $("#acessTypes2").chosen({
        no_results_text: "No results found!",
        width: "100%"
    }).on('change', function (evt, params) {

    });*/


</script>
</html>