<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/vendor/sweet-alert/sweetalert2.min.css}"/>
    <title>docME Login</title>
    <!--    <style th:inline="text">-->
    <!--        body {-->
    <!--            /*background-image: url('\'+@{}+\'');*/-->
    <!--           -->
    <!--        }-->
    <!--    </style>-->
</head>
<!-- start: header -->
<!--/*/ <th:block th:include="/fragments/header/resources :: resources"></th:block> /*/-->
<!-- end: header -->
<body class="loading-overlay-showing" data-loading-overlay id="loginBody">
<div class="loading-overlay">
    <div class="bounce-loader">
        <h3 class="loadHeading mb-5">L O A D I N G</h3>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<section class="body-sign">
    <div class="center-sign">
        <!--<a href="/" class="logo float-left">-->
        <!--<img th:src="@{/img/logo.png}" height="54" alt="Porto Admin" />-->
        <!--</a>-->

        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-right">
                <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Sign In</h2>
            </div>
            <div class="card-body">
                <form th:id="userDTO" th:name="userDTO" th:object="${userDetailsDto}" th:action="@{/user/login}"
                      method="post"
                      style="opacity: 1 !important;">
                    <div class="form-group mb-3">
                        <label>Username</label>
                        <div class="input-group">
                            <input name="userName" th:field="*{userName}" type="text"
                                   class="form-control form-control-lg"/>
                            <span class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-user"></i>
										</span>
									</span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="input-group">
                            <input name="password" th:field="*{password}" type="password"
                                   class="form-control form-control-lg"/>
                            <span class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-lock"></i>
										</span>
									</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-right">
<!--                            <a role="menuitem" tabindex="-1" class="btn btn-primary mt-2" th:href="@{/user/register}">Sign-->
<!--                                Up</a>-->
                            <button type="submit" class="btn btn-primary mt-2">Sign In</button>
                        </div>
                    </div>

                    <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
                </form>
            </div>
        </div>


    </div>
</section>
</body>
<!--start: footer-->
<!--/*/ <th:block th:include="/fragments/footer/footer :: footer"></th:block> /*/-->
<!--end: footer-->

<script type="text/javascript" th:src="@{/vendor/sweet-alert/sweetalert2.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = [[${msg}]];
    var isSucsess = [[${isSucsess}]];
    var action = [[${action}]];

    if (isSucsess == false) {
        swal({
            title: 'Error',
            text: message,
            type: 'error',
            showConfirmButton: true,
            allowOutsideClick: false,
            closeOnClickOutside: false
        });
    }
    /*]]>*/
</script>
</html>
