@charset "UTF-8";
/* Add here all your CSS customizations */
/*Akila Nilakshi*/
.form-bordered .form-group {
    border-bottom: 0px solid #eff2f7;
}

.verify-state {
    display: none;
}

.btn-center {
    text-align: center;
}

.btn-not-function {
    cursor: unset !important;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.assigned {
    color: #008000;
    padding-right: 5px;
}

.not-assigned {
    color: #ff0000;
    padding-right: 5px;
}

.fixed-size {
    min-width: 90px;
    padding: 3px;
    cursor: auto !important;
}

.fixed-size .btn:not(:disabled):not(.disabled) {
    cursor: auto !important;
}

.logo-container img {
    width: 170px;
    margin-top: 3px;
}

.card-header {
    padding: 10px;
}

.card-actions {
    top: 10px;
}

table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: #b0bed9 1px 1px, #b0bed9 -1px -1px, #b0bed9 1px -1px, #b0bed9 -1px 1px;
}

.datepicker--day-name {
    color: #3498db;
}

table.dataTable thead th {
    vertical-align: middle !important;
    text-align: center !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #999 !important;
    line-height: 35px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}

.dropzone .dz-preview .dz-progress {
    top: 70% !important;
}

.dz-progress {
    display: none !important;
}

.modal-lg {
    max-width: 1200px;
}

#lpStatusTable tbody tr td:nth-child(6) {
    text-align: center !important;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
    margin-top: -1px !important;
    margin-left: -10px !important;
}

table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    margin-top: -7px !important;
    margin-left: -9px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -7px;
    margin-top: 4px;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
    margin-left: -12px;
}

.nav-tabs li.active .nav-link, .nav-tabs li.active .nav-link:hover, .nav-tabs li.active .nav-link:focus {
    border-top: 3px solid #3498db;
    color: #2d1010;
}

.nav-tabs li .nav-link, .nav-tabs li .nav-link:hover {
    border-top: 3px solid #ada2a2;
    color: #929090;
}

.datepicker {
    z-index: 99999;
}
.select2-container {
    z-index: 99999;
}
.modal-header {
    border-bottom: 3px solid #3498db;
}
table thead {
    background-color: #656565;
    color: #fff;
}
#loginBody{
    background: url('../img/wallpaper.jpg');
    background-size: cover;
}

#loginBody .card-body{
    opacity: 0.9 ;
}

.btn-table {
    padding: 2px 7px;
    font-size: 11px;
}

.addbtn {
    background-color: #55ADF7 !important;
    border-color: #55ADF7 !important;
}
header {
    border-bottom: 2px solid #3498db;
}

.webix_dd_drag_column, .webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header {
    font-size: 15px;
    color: #fff;
    /*background: #1d2127!important;*/
    border-bottom: none !important;
    border-left: none !important;
}

.btn-primary:hover, .btn-primary.hover {
    background-color: #6353ed!important;
    border-color:  #6162ee #3498db;
    color: #ffffff;
}

.modal-footer{
    background: #eee !important;
}


    .modal-dialog {
        max-width: 700px!important;
        margin: 1.75rem auto;
    }

.sidebar-left .sidebar-header .sidebar-title {
    background: #1D2127;
    color: #3498db;
    padding: 15px;
    font-size: 0.8rem;
}

.nav-link{
    border-bottom: 1px solid rgba(195, 195, 195, 0.08) !important;
}

.body-sign .card-sign {
    background: #3498db38!important;
}


.modal-title {
    margin-bottom: 0!important;
    line-height: 1.5!important;
    color: #3498db!important;
}

/*new css styles*/
.webix_hcell {
    background-color: #656565 !important;
    color: #fff !important;
    font-family: "Open Sans", Arial, sans-serif !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-align: center !important;
}

.webix_ss_vscroll_header {
    background-color: #656565 !important;
}

.padding_less .webix_cell {
    text-align: center !important;
}

.CategoryAuthorization .webix_cell {
    text-align: center !important;
}

.sysRoleList .webix_cell {
    text-align: center !important;
}
.addAgreementTblBody tr {
    text-align: center;
}

/*side menu */
ul.nav-main li .nav-children {
    padding: unset !important;
}

.header.header-nav-menu .logo:after {
    border-right: none !important;
}

.loadHeading {
    font-size: -webkit-xxx-large;
    margin-left: -110px;
    margin-top: -25px;
    color: #171717;
    font-weight: 600;
    width: 425%;
    font-family: monospace;
}

.loading-overlay {
    background-color: #eeeeee9c !important;
}

.bounce1, .bounce2, .bounce3 {
    background-color: #171717 !important;
}
form label {
    font-weight: 600 !important;
}

.modal-title {
    font-size: 1.5em !important;
    font-weight: 500 !important;
}

.sidebar-left .sidebar-header .sidebar-title {
    background: #171717 !important;
}

.darkBackground {
    background-color: currentColor;
}

.tp-caption.LargeTitle span {
    color: #CC0000 !important;
    font-weight: 700 !important;
    letter-spacing: 4px !important;
    /*font-size: 48px !important;*/
    text-shadow: 1px 2px 5px #ef4749a6;
}

.tp-caption.Title {
    color: #ff403a !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    text-shadow: 2px 2px 4px #777;
    /*font-size: 30px !important;*/
    margin-bottom: 12px !important;
}


.loginform {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);

    padding-left: 60px !important;
    padding-right: 60px !important;
    padding: 40px;
    background: rgba(0, 0, 0, .92);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;

}


.loginform .inputBox {
    position: relative;
}

.loginform .inputBox input {

    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;


}

.loginform .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .5s;

}

.loginform .inputBox input:focus ~ label,
.loginform .inputBox input:valid ~ label {

    top: -24px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;

}

.loginform h2 {
    margin: 0 0 15;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;

}

.loginform h3 {
    margin: 0 0 15;
    padding: 0;
    color: #b3b3b3;
    text-align: center;
    font-size: medium;

}

.loginform h1 {
    margin: 0 0 15px;
    padding: 0;
    color: #fff;
    text-align: center;


}

.close, .login {
    width: 15rem;
}


.custom-modal {
    background: black !important;;
    width: 50rem !important;;
    border-radius: 20px !important;;
    margin: auto !important;
    margin-top: 80px !important;
}

/*# sourceMappingURL=custom.css.map */
