<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
  <!-- Vendor -->

  <script th:src="@{/vendor/webix/webix.js}"></script>

  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/datatables/custom-datatables/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/custom-datatables/js/dataTables.select.min.js}"></script>
  <script th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
  <script th:src="@{/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
  <script th:src="@{/vendor/popper/umd/popper.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
  <script th:src="@{/vendor/common/common.js}"></script>
  <script th:src="@{/vendor/nanoscroller/nanoscroller.js}"></script>
  <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.js}"></script>
  <script th:src="@{/vendor/jquery-placeholder/jquery-placeholder.js}"></script>

  <!-- Specific Page Vendor -->
  <script th:src="@{/vendor/jquery-appear/jquery-appear.js}"></script>
  <script th:src="@{/vendor/owl.carousel/owl.carousel.js}"></script>
  <script th:src="@{/vendor/isotope/isotope.js}"></script>


  <!-- Theme Custom -->
  <script th:src="@{/js/custom.js}"></script>

  <!-- Theme Initialization Files -->
  <script th:src="@{/vendor/modernizr/modernizr.js}"></script>

  <!-- Theme Base, Components and Settings -->
  <script th:src="@{/js/theme.js}"></script>
  <script th:src="@{/js/theme.init.js}"></script>

  <!-- Examples -->
  <script th:src="@{/js/examples/examples.landing.dashboard.js}"></script>

  <script th:src="@{/js/loadingoverlay.min.js}"></script>

</div>
</html>