<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<script src="../../../static/assets/global/js/global/webix.js"></script>-->
<div th:fragment="footer">
    <!-- Vendor -->

    <script th:src="@{/assets/global/js/global/webix.js}"></script>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/datatables/custom-datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/custom-datatables/js/dataTables.select.min.js}"></script>
    <script th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
    <script th:src="@{/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
    <script th:src="@{/vendor/popper/umd/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/vendor/common/common.js}"></script>
    <script th:src="@{/vendor/nanoscroller/nanoscroller.js}"></script>
    <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.js}"></script>
    <script th:src="@{/vendor/jquery-placeholder/jquery-placeholder.js}"></script>
    <script th:src="@{/vendor/form-validation/formValidation.min.js}"></script>
    <script th:src="@{/vendor/form-validation/framework/bootstrap.min.js}"></script>
    <!-- Specific Page Vendor -->
    <script th:src="@{/vendor/jquery-appear/jquery-appear.js}"></script>
    <script th:src="@{/vendor/owl.carousel/owl.carousel.js}"></script>
    <script th:src="@{/vendor/isotope/isotope.js}"></script>


    <!-- Theme Custom -->
    <script th:src="@{/js/custom.js}"></script>

    <!-- Theme Initialization Files -->
    <script th:src="@{/vendor/modernizr/modernizr.js}"></script>

    <!-- Theme Base, Components and Settings -->
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/theme.init.js}"></script>

    <!-- Examples -->
    <script th:src="@{/js/examples/examples.landing.dashboard.js}"></script>

    <script th:src="@{/js/loadingoverlay.min.js}"></script>
    <script th:src="@{/vendor/ios7-switch/ios7-switch.js}"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $.ajax({
                    url: CONTEXT_PATH + "/user/get-side-menu",
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#navContent').html(result);
                        return false;
                    },
                    error: function (result) {

                    }

                });
            });


            $.ajax({
                url: CONTEXT_PATH + "/user/getUserDetails",
                type: 'GET',
                success: function (result) {
                    $("#username").html(result.userName);
                    $("#userrole").html(result.systemRoleId);
                },
                error: function (result) {
                    console.log(result);
                }

            });


        });


    </script>
</div>
</html>